demo/osb/osb-smart-meter-demo-app/osb-smart-meter/wsdl/crm.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="crm"
     targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"
     xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"
     xmlns:inp1="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"
     xmlns:inp2="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"
             elementFormDefault="qualified">
            <element name="customerId" type="string"/>
            <element name="extraInfo" type="string"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="tns:customerId"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="tns:extraInfo"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/SmartMeterDemo/crm"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>